<div class="content-box" id="content-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="div-left">
        <app-left-menu linktype="dashboard"></app-left-menu>
      </div>

      <div class="div-right" id="div-right">
        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="isListFromCache" class="cache-info">
              Result is from cache, updated
              <b>{{ this.cacheDuration | dateDisplay }}</b
              >.
              <a href="#" (click)="refreshList($event)">Refresh Now</a>
            </div>
          </div>
        </div>

        <div class="filter-box">
          <div class="col-lg-12 margin-bottom-10">
            <span class="spn-page-title">Static Code Analysis Rules</span>
            <a
              *ngIf="isAdmin"
              href="#"
              (click)="add($event)"
              class="badge badge-primary margin-left-20"
              >Add</a
            >
            <input
              type="text"
              class="input-grey margin-top-10 float-right"
              [(ngModel)]="searchText"
              placeholder="search.."
            />
          </div>

          <div
            class="col-lg-12 margin-bottom-10"
            *ngIf="distinctRulesList.length > 0"
          >
            <ul class="ul-distinct">
              <li *ngFor="let lang of distinctRulesList">
                <a
                  href="#"
                  [ngClass]="selectedLanguage === lang ? 'selected-lang' : ''"
                  (click)="getAllRules($event, lang)"
                  >{{ lang }}</a
                >
              </li>
            </ul>
          </div>

          <app-loader [isLoading]="isLoading"></app-loader>
          <div *ngIf="!isLoading">
            <div *ngIf="itemList.length === 0">
              <div class="custom-list-group">
                <span class="text-secondary">No rules found!</span>
              </div>
            </div>

            <div class="row">
              <div [ngClass]="selectedRule ? 'col-sm-5 col-lg-4' : 'col-sm-12'">
                <div
                  class="custom-list-group text-ellipses"
                  [ngClass]="
                    selectedRule.name === rule.name ? 'selected-rule' : ''
                  "
                  *ngFor="
                    let rule of itemList
                      | filter : searchText
                      | slice
                        : (page - 1) * pageSize
                        : (page - 1) * pageSize + pageSize;
                    let i = index
                  "
                >
                  <span
                    class="custom-list-group-item cursor-pointer"
                    (click)="getRuleDetails($event, rule, i)"
                    >{{ rule.name }}</span
                  >
                </div>
              </div>
              <div class="col-sm-7 col-lg-8 space-left" *ngIf="selectedRule">
                <app-loader
                  [isLoading]="selectedRule.isLoading"
                  [showLargeLoader]="false"
                ></app-loader>

                <div class="content-heading">{{ selectedRule.name }}</div>
                <div
                  class="link-content"
                  [innerHtml]="selectedRule.description"
                ></div>

                <div class="tags">
                  <div
                    class="div-tag tag-list"
                    *ngFor="let t of selectedRule.sysTags"
                  >
                    {{ t }}
                  </div>
                  <div class="div-tag" title="Severity">
                    Severity <b>{{ selectedRule.severity }}</b>
                  </div>
                  <div class="div-tag" title="Type">
                    Type
                    <b>{{ (selectedRule.type || "").replace("_", " ") }}</b>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <br />
                <br />
                <ngb-pagination
                  *ngIf="pageSize < itemList.length"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="itemList.length"
                ></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
