.register-form {
    margin: auto;
    margin-top: 35px;
    max-width: 500px;
    padding-right: 0px;
}

.register-form form {
    padding: 20px;
}

.text-divider {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #a2a0a2;
    margin-bottom: 20px;
}