<div class="content-box" id="content-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="div-left">
        <app-left-menu></app-left-menu>
      </div>
      <div class="div-right" id="div-right">
        <app-loader [isLoading]="isLoading" [showLargeLoader]="true"></app-loader>
        <div *ngIf="!isLoading">
          <h3>Quick Notes</h3>
          <table class="table table-sm table-bordered table-white">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th>Project</th>
              <th class="th-action">Actions</th>
            </tr>

            <tr *ngFor="let note of quickNotesList; let i=index;">
              <td>{{i+1}}</td>
              <td>{{note.title}}</td>
              <td>
                <div [innerHtml]="note.description"></div>
              </td>
              <td>{{note.projectName || note.projectId}}</td>

              <td class="text-center">
                <app-action-button [obj]="note" (onEdit)="edit($event)" (onDelete)="delete($event)"
                  caption="quick note">
                </app-action-button>
              </td>
            </tr>

            <tr *ngIf="quickNotesList.length===0">
              <td colspan="6">No records found.</td>
            </tr>
          </table>
          <button class="btn btn-sm btn-primary" (click)="add()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>