<form [formGroup]="crudService.currentForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{crudService.modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="crudService.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 field-label">Name</div>
      <div class="col-sm-8"><input formControlName="name" class="form-control" required /></div>
    </div>

    <div class="row">
      <div class="col-sm-4 field-label">Identifier</div>
      <div class="col-sm-8"><input formControlName="projectAlias" class="form-control" required /></div>
    </div>

  </div>
  <div class="modal-footer">
    <app-crud-message-display [message]="crudService.message"></app-crud-message-display>
    <app-loader [isLoading]="crudService.isLoading"></app-loader>
    <button type="submit" class="btn btn-sm btn-primary"
      (click)="crudService.currentForm.valid && saveProject()">Save</button>
  </div>
</form>